*{
    padding: 0;
    margin: 0;
    text-align: center;
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
 
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
}

/* Navigation */
nav {
    background-color: #555;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Image */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px 0;
}

/* Project Cards */
.project-card {
    border: 1px solid #aaa;
    padding: 15px;
    margin: 15px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
